.paginador {
	text-align: center;
	margin: 15px 0px;
	}
	
.paginador a {
	text-decoration: none;
	padding: 3px 5px;
	color: #999;
	width: 15px;
	margin: 0px;
	}
	
.paginador a:hover {
	background: #F00;
	color: #FFF;
	}
